body, html{
	overflow-x: hidden;
	height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.logomain{
  width: 30%;
  height: 30%;
  position: relative;
  left: 35%;
  top: 100px;
}


.footer{
  width: 30%;
  height: 30%;
  position: relative;
  left: 36%;
  top: 140px;
}